.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  overflow: hidden; /* Keep overflow hidden for the carousel container */
}

.carousel__container {
  display: flex;
  align-items: center;
  transform: translateX(100%);
  height: 450px; /* You may adjust the height as needed */
  overflow-x: scroll; /* Enable horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar for better appearance */
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.carousel__container::-webkit-scrollbar {
  display: flex;
  /* //Hide scrollbar for Webkit browsers */
}

.carousel__slide {
  flex: 0 0 auto;
  margin-right: 10px;
  min-width: 200px; /* Adjust the minimum width of each slide */
  transition: translateX(-100%); /* Smooth transition for slide movement */
}

html {
  padding-bottom: 80px;
}
